<div class="container">
<h1>Frequently Asked Questions</h1>
        <ul class="faq-list" style="padding-left: 80px;">
        <li>
            <div class="qstn" style="color : orange;list-style-type:square;">Who can avail NIC Cloud Services</div>
            <div class="ans">NIC is providing Cloud services to the Government Departments, State Government Departments and District Administrations.</div>
        </li>
        
        <li>
            <div class="qstn" style="color : orange;list-style-type:square;">How can we register for NIC Cloud Services</div>
            <div class="ans">Submit your request on "Get NIC Cloud Services" section on the home page.</div>
        </li>
        
        <li>
            <div class="qstn" style="color : orange;list-style-type:square;">What are the pre-requisite for initial registration of NIC Cloud Services</div>
            <div class="ans">You should have Government Email account with domain Gov.in/Nic.in.</div>
        </li>
        
        <li>
            <div class="qstn" style="color : orange;list-style-type:square;">We are a government department whom we can approach for NIC Cloud Services</div>
            <div class="ans">Government department can approach to NIC Cloud Coordinators. A list of NIC Cloud Coordinators is available <a href="https://cloud.gov.in/contact.php">here</a>.</div>
        </li>
        
        <li>
            <div class="qstn" style="color : orange;list-style-type:square;">What are the pre-requisite for NIC Cloud Services</div>
            <div class="ans">You should be registered with NIC Cloud Services and to access you should be having NIC's private secure network (Virtual Private Network).</div>
        </li>
        
        <li>
            <div class="qstn" style="color : orange;list-style-type:square;">How can we get NIC Email Services (with domain Gov.in/Nic.in)?</div>
            <div class="ans">Please browse website <a href="https://mail.gov.in/" target="_blank">https://mail.gov.in</a> for more details on NIC Email Services. You can also take the help of <a href="https://cloud.gov.in/contact.php">NIC Cloud Coordinator</a> for your Ministry/Department/State.</div>
        </li>
    </ul>
</div>