<footer class="container-fluid ">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
        <div class="col-sm-6">
        <ul>
          <li>Home</li>
          <li>About Meghraj</li>
          <li>Services</li>
          <li>Faq</li>
          <li>On-Boarding Procedure</li>
          <li>Download Brochure</li>
        </ul>
        </div>
        <div class="col-md-6">
            <ul>
              <li>Contact Us</li>
              <li>Feedback</li>
              <li>Help</li>
              <li>Announcements</li>
              <li>Website Policy</li>
              <li>Disclaimer</li>
              <li>Accessibility Statement</li>
            </ul>
        </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h3>Contact Us</h3>
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-github-square"></a>
        <a href="#" class="fab fa-youtube"></a>
      </div>
      <div class="col-sm-2">
          <h3>Contact Us</h3>
          <a href="#" class="fab fa-facebook-f"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-github-square"></a>
          <a href="#" class="fab fa-youtube"></a>
      </div>
    </div><hr>
    <div class="row">
      <div class="col-sm-4">
          <a href = "http://www.nic.in/">
            <img src="https://cloud.gov.in/assets/images/logo-nic.png" alt="NIC" >
            </a>
      </div>
      <div class="col-sm-6">
          <p text-align ="center" style="color:gray;">This site is designed, hosted and maintained by National Informatics Centre, 
              Ministry of Electronics and Information Technology, Government of India.</p>
      </div>
      <div class="col-sm-2">
          <a href = "http://www.digitalindia.gov.in/">
            <img src="https://cloud.gov.in/assets/images/digital-india.png" alt="Digital India" text-align="right" >
            </a>
      </div>
    </div>      
</footer>
  

  