footer {
    width: 100%;
    background-color: #504f4f;
    padding: 5%;
    color:#FFF;
  }

  .container {
    margin: 4% auto;
  }

  .fab {
    padding: 15px;
    font-size:30px;
    color:#FFF;
  }

  .fab:hover {
    color:#d5d5d5;
    text-decoration: none;
  }

  hr {
    size: 2px;
    color: gray;
  }