<div class="container" style="padding-top: 20px">
  <h4>What's new</h4>
  <p>Recently Hosted e-Gov Applications on NIC Cloud</p>
  <ngb-carousel>
      <ng-template ngbSlide>
        <img src="https://cloud.gov.in/assets/images/whats-new-images/cloud-banner1.jpg" alt="Random first slide"  style="width:250px;height:300px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="https://cloud.gov.in/assets/images/whats-new-images/cloud-banner2.jpg" alt="Random second slide" style="width:250px;height:300px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="https://cloud.gov.in/assets/images/whats-new-images/cloud-banner3.jpg" alt="Random third slide"style="width:250px;height:300px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="https://cloud.gov.in/assets/images/whats-new-images/cloud-banner4.jpg" alt="Random third slide"style="width:250px;height:300px;">

        <div class="carousel-caption">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="https://cloud.gov.in/assets/images/whats-new-images/cloud-banner6.jpg" alt="Random second slide"  style="width:250px;height:300px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="https://cloud.gov.in/assets/images/whats-new-images/cloud-banner7.jpg" alt="Random second slide"  style="width:250px;height:300px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="https://cloud.gov.in/assets/images/whats-new-images/cloud-banner8.jpg" alt="Random second slide" style="width:250px;height:300px;">&nbsp;&nbsp;&nbsp;&nbsp; 
        <img src="https://cloud.gov.in/assets/images/whats-new-images/cloud-banner9.jpg" alt="Random second slide" style="width:250px;height:300px;">
      </ng-template>
       
            
    </ngb-carousel>
    <br>
    <br>
      
  </div>


