.background {
    background-color:  whitesmoke;
    height: 100%;
}

.card {
    background-color: transparent !important;
    border: none;
    color: #fff;
    margin-top: 20%;
}

.btn[type=submit]{
    border-radius: 50px;
}

.btn-link {
    color: black;
}

h5 {
    color: black;
    padding-bottom: 10%;
}