<h1 style="font-family:Open Sans;padding-left:65px;padding-top:40px;padding-bottom: 20px">NIC Cloud Coordinators</h1>
      <p class="p">In order to facilitate user departments in availing Cloud services, NIC has nominated Cloud Coordinators who are well versed with Cloud Technology & NIC Cloud services.
        <br>
        <br>

These Cloud Coordinators would guide & support the users in setting up and managing Cloud accounts, creating and managing servers on Cloud as well as coordinate with Cyber Security and Network teams of NIC, as & when required.
        <br>
        <br>
Please find out Cloud Coordinator for your department from below list & contact for necessary Guidance & Support:</p>
      <br>
      <p class="p"><b>NIC Cloud Coordinators for GoI Ministries & Departments(<a href="https://cloud.gov.in/nic-cloud-coordinators-mins.php"style="color:Orange">HTML</a>, <a href="https://cloud.gov.in/download_file_tool.php?f=uploads/NIC-Cloud-Coordinators-Mins.pdf"style="color:Orange">PDF</a>)<br>
NIC Cloud Coordinators for State Governments / UTs (<a href="https://cloud.gov.in/nic-cloud-coordinators-state.php"style="color:Orange"style="color:Orange">HTML</a>, <a href="https://cloud.gov.in/download_file_tool.php?f=uploads/NIC-Cloud-Coordinators-States.pdf"style="color:Orange">PDF</a>)<br>
NIC Cloud Coordinators for Miscellaneous Projects (<a href="https://cloud.gov.in/nic-cloud-coordinators-misc.php"style="color:Orange">HTML</a>, <a href="https://cloud.gov.in/download_file_tool.php?f=uploads/NIC-Cloud-Coordinators-Misc.pdf"style="color:Orange">PDF</a>)
        
      <h2 style="font-family:Open Sans;padding-top:20px">Service Desk</h2>
      <p style="font-family:Open Sans;font-size:15px;"><i class="fas fa-phone"></i> 1800 111 555 <br><a href="https://servicedesk.nic.in"style="color:Orange"><i class="fas fa-user-alt"></i> https://servicedesk.nic.in</a></p>
     
      <br>
        <br>
      <p style="font-family:Open Sans;color:gray;">Web Hosting & Cloud Computing Services Division, National Informatics Centre (NIC)<br>
Ministry of Electronics and Information Technology<br>
A-Block, CGO Complex, Lodhi Road, New Delhi - 110003
</p>