<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <h1 class="logo">
        <a href="index.php">
            <img src="https://cloud.gov.in/assets/images/logo.png" alt="Meghraj Cloud Logo">
        </a>
    </h1>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="a">
        <a >
          <div class="left-text" style="color: orange; font-size:40px; margin-left: -70px;margin-top: 20px;font-weight: 200;"> Get</div>
          <div class="right-text"style="margin-top:-60px">
              <span class="top-text"style="color: orange; font-weight: bold;">Cloud<br></span>
              <span class="bottom-text"style="color: black;">Services</span>
          </div>
        </a>
        </div>&nbsp;&nbsp;&nbsp;
        <div class="vl"></div>&nbsp;&nbsp;&nbsp;
        <div class="b">
            <a >
              <div class="left-text" style="color: orange; font-size:40px; margin-left: 10px;margin-top: 20px;font-weight: 200;">My</div>
              <div class="right-text"style="margin-top:-60px; margin-left: 60px">
                  <span class="top-text"style="color: orange; font-weight: bold;">Cloud<br></span>
                  <span class="bottom-text"style="color: black;">Dashboard</span>
              </div>
            </a>
            </div>
            &nbsp;&nbsp;&nbsp;
        <div class="vl"></div>&nbsp;&nbsp;&nbsp;
        <div class="contact-name" style="padding-top:400;">
            <span class="hlp-txt"style="color: orange; font-weight: bold;">Help Line</span>
              <div class="contact-no"style="font-size:40px;color:black;">
                  <div class="phone-no">
                      <span >1800 111 555</span>
                  </div>
              </div>
              
          </div>
      </form>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/new">What's New</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/gallery">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/faq">FAQ</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-success my-2 my-sm-0" routerLink = '/signup'>SignUp</button>
        </form>
    </div>
  </nav>