<div class="container">
<h2>Gallery</h2>
<h3>Launch</h3>
<p>Launched of <u>'National Cloud Services of NIC (Meghraj Initiative)'</u> on 4th February, 2014</p>

<div class="row">
  <div class="col-sm-3">
    <img src="https://cloud.gov.in/assets/images/gallery-images/launch/thumbnails/thumbnail-1.jpg" style="width:100%">
</div>
  <div class="col-sm-3">
    <img src="https://cloud.gov.in/assets/images/gallery-images/launch/thumbnails/thumbnail-2.jpg"style = "width:100%">
  </div>
  <div class="col-sm-3">
    <img src="https://cloud.gov.in/assets/images/gallery-images/launch/thumbnails/thumbnail-6.jpg" style="width:100%">
      </div>
  <div class="col-sm-3">
    <img src="https://cloud.gov.in/assets/images/gallery-images/launch/thumbnails/thumbnail-7.jpg"style = "width:100%">
  </div>

</div>
<br>
       <div class="row" >
         <div class="col-sm-3">
    <img src="https://cloud.gov.in/assets/images/gallery-images/launch/thumbnails/thumbnail-4.jpg" style="width:100%">
    </div>
</div>
<h5>Awards</h5>
<p>elets - CloudGov 2014 Award for Best Cloud Deployment in Government Sector</p>

<div class="row">
<div class="col-sm-3">
<img src="https://cloud.gov.in/assets/images/gallery-images/award/thumbnails/thumbnail-1.jpg" style="width:100%">
</div>
</div>
<br>
</div>