<div class="container">
<div class="row" style="padding-top: 40px;padding-bottom: 20px;" >
    <h1 class="p">Services</h1>
      <button class="button"><a href="https://cloud.gov.in/onboarding_procedure.php"style="color:white;text-decoration:none">On Boarding Procedure</a></button>
</div>

    <div class="row">
      <div class="col">
          <ul type="square">
              <li>
          <p class="p1"> Get the power of NIC cloud services to host your websites, portal and web applications with the speed and scalability that your business demands. NIC Cloud Services offers variety of service model to meet your requirements like Platform as a Service (PaaS), Infrastructure as a Service (IaaS) and Software as a Services (SaaS). </p>
          </li>
        <li>
          <h2 style="color:orange;font-size:20px;font-family:Open Sans">Infrastructure as a Service:</h2>
          <p class="p1"> IaaS provides you basic virtual compute infrastructure resources like CPU, Memory, Disk Storage attached to blank VMs with allowing you to install OS, using ISOs, from scratch and customization. However you have to use your own licenses for OS and Application software (if any). </p>
        </li>
        <li>
          <h2 style="color:orange;font-size:20px;font-family:Open Sans">Platform as a Service (PaaS) :</h2>
          <p class="p1">PaaS provides pre-installed web and database servers so that you can publish and run web application without worrying about server setup. The servers are pre configured ready with basic security hardening. Use PaaS service to quickly deploy servers and publish your web applications. The OS & Application Software licenses are provided by us as part of offering.</p>
        </li>
        <li>
          <h2 style="color:orange;font-size:20px;font-family:Open Sans">Software as a Service (SaaS) :</h2>
          <p class="p1">This provides on demand software service. SaaS is a software delivery model where users are not responsible for supporting the application or any of the components. The server infrastructure, OS and software is being managed by cloud services. If you are having web application and want to distribute it to users, use our Cloud Service to deliver through Software as a Service.</p>
        </li>
            
            <li>
          <h2 style="color:orange;font-size:20px;font-family:Open Sans">Vulnerability Assessment Service:</h2>
          <p class="p1">This service helps you to assess your Servers and networks for identifying the security vulnerabilities i.e. threats and risks they pose. A vulnerability assessment process detects and classifies system weaknesses in Servers, networks and communications equipment and predicts the effectiveness of countermeasures.</p>
        </li>
            
            <li>
          <h2 style="color:orange;font-size:20px;font-family:Open Sans">Load Balancer as a Service :</h2>
          <p class="p1">Load balancing Service allows you to efficiently get incoming network traffic requests distributed across a group of back-end servers (e.g. server farm / server pool). This service is available on demand for critical application requiring high availability and easy workload manageability.</p>
        </li>
            
            <li>
          <h2 style="color:orange;font-size:20px;font-family:Open Sans">Public IP Service :</h2>
          <p class="p1">A public IP address is an IP address that can be allocated to any of your application on cloud server to make it accessed over the Internet.
              </p>
        </li>
            
           <li>
          <h2 style="color:orange;font-size:20px;font-family:Open Sans">Anti-virus Service :</h2>
          <p class="p1">Virus protection is an important part of keeping the systems, applications and data in your cloud environment safe from viruses, spyware and other malware threats. Antivirus service is made available to cloud users as Managed Service.
              </p>
        </li>
            
            <li>
          <h2 style="color:orange;font-size:20px;font-family:Open Sans">Resource Monitoring as a Service :</h2>
          <p class="p1">This service helps you to monitor the cloud resources utilization and its availability with allowing you to analyse the utilization trends for critical server resources like CPU, Memory, Network I/O etc. This helps you for better capacity planning and provide a better end-user experience.
              </p>
        </li>
            
            <li>
          <h2 style="color:orange;font-size:20px;font-family:Open Sans">Web Application Firewall (WAF) Service :</h2>
          <p class="p1">Web Application Firewall will help you to give extra protection for HTTP / web based applications with having applied a set of rules to an HTTP conversation and cover common attacks such as cross-site scripting (XSS) and SQL injection.
              </p>
        </li>
            <li>
          <h2 style="color:orange;font-size:20px;font-family:Open Sans">Backup Service :</h2>
          <p class="p1">
  Allows you to backup the data and application code lying inside the Cloud Servers based on various parameters like frequency, retention period etc.
              </p>
        </li>
            <li>
          <h2 style="color:orange;font-size:20px;font-family:Open Sans">Storage as a Service :</h2>
          <p class="p1">This provides you on demand storage of various types including file storage and block storage etc. File and Block storage are methods to store data on NAS and SAN storage systems. Each storage volume can be treated as an independent disk drive and it can be controlled by external server operating system.
              </p>
        </li>
            <li>
          <h2 style="color:orange;font-size:20px;font-family:Open Sans">Application Performance Management (APM) Service :</h2>
          <p class="p1">Application Performance Management (APM) provides the monitoring and management of performance, availability and user experience of software applications. APM strives to detect and diagnose complex application performance problems to maintain an expected level of service.
              </p>
        </li>
        </ul>
      </div>
    </div>  
</div>        