<div class="container">
    <div class="row">
    <div class="form-group col-sm-6">
        </div>
      <div class="form-group  col-sm-6 p-5 pb-5">
          <div class="wer">
           <div class="card text-blank border-0">
<div class="card-body">
<div class="card-title text-center">
<h3><strong><b>Sign up</b></strong></h3>
</div>
<br>
<div class="card-text">
<form >
<div class="row">
<div class="form-group col-sm-6">
<input type="text" class="form-control" placeholder="First-name">      
</div>
<div class="form-group col-sm-6">
  <input type="text" class="form-control" placeholder="Last-name">      
</div>
</div>
<div class="form-group">
<input type="email" class="form-control"placeholder=
"Enter your email" >
<small class="form-text text-muted">
  We'll never share your email with anyone else
  </small>
</div>
<div class="form-group">
  <input type="password" class="form-control"placeholder=
  "Password">
</div>

<div class="form-group">
  <input type="password" class="form-control"placeholder=
  "Confirm-Password" >
</div>

<div class="text-center">
<button class="btn btn-block btn-warning" type="submit">
  Submit
</button>
</div>
</form>

</div>
</div>
</div>
          </div>
</div></div>
    </div>
