
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>

    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cloud.gov.in/assets/images/banner/banner-2.jpg" class="d-block w-100 tales" alt="image1">
      </div>
      <div class="carousel-item">
        <img src="https://cloud.gov.in/assets/images/banner/banner-3.jpg" class="d-block w-100 tales" alt="image2">
      </div>
      <div class="carousel-item">
        <img src="https://cloud.gov.in/assets/images/banner/banner-4.jpg" class="d-block w-100 tales" alt="image3">
      </div>
      <div class="carousel-item">
          <img src="https://cloud.gov.in/assets/images/banner/banner-5.jpg" class="d-block w-100 tales" alt="image4">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

    <div id="carouselButtons">
        <button id="playButton" type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-play"></span>
         </button>
        <button id="pauseButton" type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-pause"></span>
        </button>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      
      
        <div class="navbar-nav">
          <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        
      </div>
    </nav>
    <br>

  <!-- <script>
    $(function () {
    $('#myCarousel').carousel({
        interval:2000,
        pause: "false"
    });
    
    $('#playButton').click(function () {
        $('#myCarousel').carousel('cycle');
    });
    $('#pauseButton').click(function () {
        $('#myCarousel').carousel('pause');
    });
});
  </script> -->

  <h2 style="text-align:center; font-family: 'Open Sans'; font-size:40px;color: gray;font-weight:lighter; ">SERVICES</h2>

<br>
<br>



<div class="grid-container">

<div class="card">
 
  <div class="container">
    <img src="assets/img/paas.jpg" alt="Smiley face">
    <h3 class="h3">PaaS</h3> 
    <h4 class="h4">Platform as a Service</h4>
    <p class="p">PaaS provides pre-installed web and database servers so that you can publish and run web application without worrying about server setup.</p>
    <a href="services.php" class="bttn-more  some" href = "/services">More</a>
  </div>
</div>

<div class="card">
 
  <div class="container">
      <img src="assets/img/iaas.jpg" alt="Smiley face">
    <h3 class="h3"><b>IaaS</b></h3> 
    <h4 class="h4">Infrastructure as a Service</h4>
    <p class="p">IaaS provides you basic virtual compute infrastructure resources like CPU, Memory, Disk Storage attached to blank VMs with allowing you to install OS.</p>
    <a href="services.php" class="bttn-more" href = "/services">More</a>
  </div>
</div>

<div class="card">
 
  <div class="container">
      <img src="assets/img/saas.jpg" alt="Smiley face">
    <h3 class="h3"><b>SaaS</b></h3> 
    <h4 class="h4">Software as a Service</h4>
    <p class="p">SaaS is a software delivery model here users are not responsible for supporting the application or any of the components.  </p>
    <a href="services.php" class="bttn-more" href = "/services">More</a>
  </div>
</div>

</div>
<hr>

<div class="grid-container">

<div class="card">

   <div class="container">
      <img src="assets/img/storage.jpg" alt="Smiley face">
     <h3 class="h3">Storage</h3>
     <h4 class="h4">Storage as a Service</h4>
     <p class="p">This provides you on demand storage of various types including file storage and block storage etc.  File and Block storage are methods to st...</p>
     <a href="services.php" class="bttn-more" href = "/services">More</a>
   </div>
 </div>
<div class="card"> 
        <div class="container">
            <img src="assets/img/load.jpg" alt="Smiley face">
        <h3 class="h3">Load Balancer</h3>
            <h4>Load Balancer as a Service</h4>
            <p class="p">Load balancing Service allows you to efficiently get incoming network traffic requests distributed across a group of back-end servers (e.g. ...</p>
            <a href="services.php" class="bttn-more" href = "/services">More</a>
        </div>
        </div>
<div class="card">        
        <div class="container">
            <img src="assets/img/anti.jpg" alt="Smiley face">
        <h3 class="h3">Antivirus</h3>
            <h4 class="h4">Anti-virus Service</h4>
            <p class="p">Virus protection is an important part of keeping the systems, applications and data in your cloud environment safe from viruses, spyware and...</p>
            <a href="services.php" class="bttn-more" href = "/services">More</a>
        </div>
        </div>
<div class="card">        
        <div class="container">
            <img src="assets/img/ip.jpg" alt="Smiley face">
        <h3 class="h3">IP</h3>
            <h4 class="h4">Public IP Service</h4>
            <p class="p">A public IP address is an IP address that can be allocated to any of your application on cloud server to make it accessed over the Internet....</p>
            <a href="services.php" class="bttn-more" href = "/services">More</a>
        </div>
        </div>
<div class="card">        
        <div class="container">
            <img src="assets/img/rm.jpg" alt="Smiley face">
        <h3 class="h3">RM</h3>
            <h4 class="h4">Resource Monitoring as a Service</h4>
           <p class="p">This service helps you to monitor the cloud resources utilization and its availability with allowing you to analyse the utilization trends f...</p>
            <a href="services.php" class="bttn-more" href = "/services">More</a>
        </div>
        </div>
<div class="card">        
        <div class="container">
            <img src="assets/img/va.jpg" alt="Smiley face">
        <h3 class="h3">VA</h3>
            <h4 class="h4">Vulnerability Assessment Service</h4>
            <p class="p">This service helps you to assess your Servers and networks for identifying the security vulnerabilities i.e. threats and risks they pose.  A...</p>
            <a href="services.php" class="bttn-more" href = "/services">More</a>
        </div>
        </div>
<div class="card">        
        <div class="container">
            <img src="assets/img/waf.jpg" alt="Smiley face">
        <h3 class="h3">WAF</h3>
            <h4 class="h4">Web Application Firewall (WAF) Service</h4>
            <p class="p">Web Application Firewall will help you to give extra protection for HTTP / web based applications with having applied a set of rules to an H...</p>
            <a href="services.php" class="bttn-more" href = "/services">More</a>
        </div>
        </div>
<div class="card">        
        <div class="container">
            <img src="assets/img/backup.jpg" alt="Smiley face">
        <h3 class="h3">Backup</h3>
            <h4 class="h4">Backup Service</h4>
            <p class="p">Allows you to backup the data and application code lying inside the Cloud Servers based on various parameters like frequency, retention peri...</p>
            <a href="services.php" class="bttn-more" href = "/services">More</a>
        </div>
        </div>
<div class="card">        
        <div class="container">
            <img src="assets/img/apm.jpg" alt="Smiley face">
        <h3 class="h3">APM</h3>
            <h4 class="h4">Application Performance Management</h4>
            <p class="p">Application Performance Management (APM) provides the monitoring and management of performance, availability and user experience ...</p>
            <a href="services.php" class="bttn-more" href = "/services">More</a>
        </div>
        </div>


</div>

